.Allcontainer{
    background-color: rgb(234, 234, 234);
    min-height: 100vh;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contents{
    margin-bottom: 30px;
}

#first{
    margin-top: 70px;
}

#title{
    background-color: white;
    height: auto;
    width: 1000px;
    border-color: rgb(193,	196,	197	);
    border-radius: 3px;
    border-style: solid;
}

.title_div1{
    font-size: 16px;
    font-weight: bold;
    margin: 25px 0px 0px 25px;
}

.title_div2{
    font-size: 13px;
    margin-left: 25px;
}

#title_div3{
    margin: 5px 0px 25px 25px;
   
}

.title_div3_input{
    width: 940px;
    height: 30px;
    font-size: 15px;
    border: 1px solid rgb(187, 191,196	);
    border-radius: 3px;
    padding-left: 10px;
}

#problem{
    background-color: white;
    height: auto;
    width: 1000px;
    border-color: rgb(193,	196,	197	);
    border-radius: 3px;
    border-style: solid;
}

#problem_div1{
    margin: 5px 25px 25px 25px;
}

#tags{
    background-color: white;
    height: auto;
    width: 1000px;
    border-color: rgb(193,	196,	197	);
    border-radius: 3px;
    border-style: solid;
}

#tags_div{
    margin: 5px 0px 25px 25px;
}
