.btnContainer_Google{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 288px;
    height: 38px;
    background-color: white;
    font-size: small;
    border-radius: 5px;
    border-style: none;
    box-shadow: 1px 1px 1px 1px  rgba(0, 0, 0, 0.16);
}