#mainpage {
  display: column;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

#main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  min-height: 52.1vh;
}

#asdie {
  position: sticky;
  top: 69px;
  clear: both;
  overflow: visible;
}

#question {
  width: 51.5%;
  border-left: 1px solid #ccc;
  clear: both;
}

#questionHead {
  margin: 20px 0 20px 20px;
}

#questionHeadTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin: 16px;
}

#footer {
  overflow-x: hidden;
}
