#mainpage {
  display: column;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

#main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

#asdie {
  position: sticky;
  top: 69px;
  clear: both;
  overflow: visible;
}

#question {
  width: 51.5%;
  border-left: 1px solid #ccc;
  clear: both;
}

#questionHead {
  margin: 20px 0 20px 20px;
}

#questionHeadTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin: 16px;
}

.button {
  border: none;
  border-radius: 8px;
  padding: 8px;
  margin: 0;
  background: black;
  color: white;
  font-size: 1rem;
}

.button:hover {
  background: tomato;
  cursor: pointer;
  transform: translateY(-2px);
}

.button:disabled {
  background: grey;
  cursor: revert;
  transform: revert;
}

.buttonselect {
  border: none;
  border-radius: 8px;
  padding: 8px;
  margin: 0;
  color: white;
  font-size: 1rem;
  background: deeppink;
  font-weight: bold;
  cursor: revert;
  transform: revert;
}

#footer {
  overflow-x: hidden;
}
