.flex_row {
  display: flex;
}
.flex_column {
  display: flex;
  flex-direction: column;
}
.justify_center {
  justify-content: center;
}
.alignItems_center {
  align-items: center;
}
.width_100 {
  width: 100%;
}
.height_100 {
  height: 100%;
}
.margin_right {
  margin-right: 8px;
}
.margin_top_16 {
  margin-top: 16px;
}
#user {
  width: 22%;
  height: 96px !important;
  padding: 0px 3% 32px 0px;
}
#image {
  width: 96px;
  height: 96px;
  margin-right: 16px;
}
