#Btns_aside {
  display: flex;
  width: 202px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.asideButton {
  display: flex;
  align-items: center;
  border-right: 4px solid white;
  padding: 4px 4px 4px 30px;
  width: 164px;
  height: 34px;
  border: 0px;
  border-radius: 0px;
  text-decoration: none;
  color: #525960;
}
.asideButton:hover {
  font-weight: bold;
  color: black;
}
.active {
  color: black;
  font-weight: bold;
  background-color: #f0f2f4;
  border-right: 4px solid #ff5722;
}
.icon {
  margin-right: 8px;
}
