.headerContainer {
    border-top: 4px solid rgb(255, 140, 0);
    background : rgb(255, 255, 255);
    border-bottom: 1px solid rgb(205, 205, 205);
    width : 100%;
    height: 50px;
    display : flex;
    justify-content: center;
    align-items : center;
    color : rgb(63, 63, 63);
    /* padding : 10px;*/
}
  .headerContainer > *{
    margin: 0 20px;
  }
  
  .headerContainer:hover > * {
    cursor: pointer;
  }
  .logo{
    width: 10rem;
    height: 2rem;
  }
  
  .SearchBarContainer{
    width: 30rem;
    height: 30px;
    border: 1px solid gray;
    border-radius: 3px;
    display:flex;
    justify-content: left;
    align-items: center;
  }
  .searchIcon{
    width: 25px;
    height: 25px;
    margin: 0px 5px;
  }
  .searchBar{

    width: 100%;
    border-style: none;
    outline: none;
    font-size: 15px;
    color : rgb(63, 63, 63);
  }
  .buttonBox{
    display: flex;
    position: relative;
  }
  .button{
    width: 6rem;
  }