  .MenuItem{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 45px;
      font-size: 18px;
      
  }

  .btn{
    text-decoration: none;
    color: black;
  }
