#signUpContainer{
    background-color: rgb(234, 234, 234);
    display: flex; 
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 100vh;
}
.Container{
   margin-right: 50px;
}

#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.HeadLineContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    width: 400px;
}
.HeadLineTitle{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 40px;
}
.listItem{
    display: flex;
    font-size: 17px;
    margin-bottom: 30px;
}


.Link{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    color: rgb(83, 83, 83);
}


/* sign up form */

.formContainer{
    width: 300px;
    margin: 20px 0;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 20px;
}

.form> *{
width: 100%;
margin: 10px 0;
}
.title{
display: flex;
flex-direction: column;
font-weight: bold;
}
.input{
    border-style: none;
    outline: none;
    font-size: 14px;
    color: rgb(63, 63, 63);
    border: 1px solid rgb(180, 180, 180);
    border-radius: 5px;
    height: 35px;
}



.checkBox{
    display: flex;
    justify-content: flex-start;    
    flex-direction: column;
}
.checkBox p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    margin: 5px 0;

}
.note{
    font-size: 13px;
    /* margin-top: 20px; */
}